USE [LopushokDB]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 26.02.2024 16:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[IdMaterial] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[CountInPackage] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[MinRemainder] [int] NOT NULL,
	[Cost] [decimal](10, 2) NOT NULL,
	[IdUnit] [int] NOT NULL,
	[IdMaterialType] [int] NOT NULL,
 CONSTRAINT [PK__Material__3214EC0765B3BF25] PRIMARY KEY CLUSTERED 
(
	[IdMaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialType]    Script Date: 26.02.2024 16:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialType](
	[IdMaterialType] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Material__3214EC071D9A5939] PRIMARY KEY CLUSTERED 
(
	[IdMaterialType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 26.02.2024 16:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Articul] [varchar](10) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[MinCost] [decimal](10, 2) NOT NULL,
	[Image] [varchar](50) NOT NULL,
	[WorkerCount] [int] NOT NULL,
	[FactoryNumber] [int] NOT NULL,
	[ProductTypeId] [int] NOT NULL,
 CONSTRAINT [PK__Product__4943444B3D282C7F] PRIMARY KEY CLUSTERED 
(
	[Articul] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductMaterial]    Script Date: 26.02.2024 16:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductMaterial](
	[IdProductMaterial] [int] IDENTITY(1,1) NOT NULL,
	[ArticulProduct] [varchar](10) NOT NULL,
	[IdMaterial] [int] NOT NULL,
	[MaterialCount] [int] NOT NULL,
 CONSTRAINT [PK__ProductM__3214EC07200A9D67] PRIMARY KEY CLUSTERED 
(
	[IdProductMaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 26.02.2024 16:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[IdProductType] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK__ProductT__3214EC07B4EEE22A] PRIMARY KEY CLUSTERED 
(
	[IdProductType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 26.02.2024 16:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[IdUnit] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK__UnitOfMe__3214EC072A43BE18] PRIMARY KEY CLUSTERED 
(
	[IdUnit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Material] ON 

INSERT [dbo].[Material] ([IdMaterial], [Name], [CountInPackage], [Count], [MinRemainder], [Cost], [IdUnit], [IdMaterialType]) VALUES (1, N'Спрессованный материал серый 0x2', 5, 140, 49, CAST(3312800.00 AS Decimal(10, 2)), 1, 1)
INSERT [dbo].[Material] ([IdMaterial], [Name], [CountInPackage], [Count], [MinRemainder], [Cost], [IdUnit], [IdMaterialType]) VALUES (2, N'Рулон бумаги зеленый 1x1', 3, 634, 36, CAST(26841.00 AS Decimal(10, 2)), 1, 2)
INSERT [dbo].[Material] ([IdMaterial], [Name], [CountInPackage], [Count], [MinRemainder], [Cost], [IdUnit], [IdMaterialType]) VALUES (3, N'Спрессованный материал розовый 2x1', 8, 636, 21, CAST(52606.00 AS Decimal(10, 2)), 1, 1)
SET IDENTITY_INSERT [dbo].[Material] OFF
GO
SET IDENTITY_INSERT [dbo].[MaterialType] ON 

INSERT [dbo].[MaterialType] ([IdMaterialType], [Name]) VALUES (1, N' Пресс')
INSERT [dbo].[MaterialType] ([IdMaterialType], [Name]) VALUES (2, N' Рулон')
INSERT [dbo].[MaterialType] ([IdMaterialType], [Name]) VALUES (3, N' Гранулы')
SET IDENTITY_INSERT [dbo].[MaterialType] OFF
GO
INSERT [dbo].[Product] ([Articul], [Name], [MinCost], [Image], [WorkerCount], [FactoryNumber], [ProductTypeId]) VALUES (N'238686', N'Полотенце 27М Дыня', CAST(7864.00 AS Decimal(10, 2)), N'', 2, 2, 2)
INSERT [dbo].[Product] ([Articul], [Name], [MinCost], [Image], [WorkerCount], [FactoryNumber], [ProductTypeId]) VALUES (N'239349', N'Полотенце 41М Дыня', CAST(6238.00 AS Decimal(10, 2)), N'', 2, 9, 3)
INSERT [dbo].[Product] ([Articul], [Name], [MinCost], [Image], [WorkerCount], [FactoryNumber], [ProductTypeId]) VALUES (N'240580', N'Набор 8М Дыня', CAST(7465.00 AS Decimal(10, 2)), N'', 5, 2, 5)
GO
SET IDENTITY_INSERT [dbo].[ProductMaterial] ON 

INSERT [dbo].[ProductMaterial] ([IdProductMaterial], [ArticulProduct], [IdMaterial], [MaterialCount]) VALUES (1, N'252485', 24, 20)
INSERT [dbo].[ProductMaterial] ([IdProductMaterial], [ArticulProduct], [IdMaterial], [MaterialCount]) VALUES (2, N'275591', 6, 1)
INSERT [dbo].[ProductMaterial] ([IdProductMaterial], [ArticulProduct], [IdMaterial], [MaterialCount]) VALUES (3, N'400484', 6, 4)
GO
SET IDENTITY_INSERT [dbo].[ProductMaterial] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductType] ON 

INSERT [dbo].[ProductType] ([IdProductType], [Name]) VALUES (1, N'Три слоя')
INSERT [dbo].[ProductType] ([IdProductType], [Name]) VALUES (2, N'Два слоя')
INSERT [dbo].[ProductType] ([IdProductType], [Name]) VALUES (3, N'Детская')
SET IDENTITY_INSERT [dbo].[ProductType] OFF
GO
SET IDENTITY_INSERT [dbo].[Unit] ON 

INSERT [dbo].[Unit] ([IdUnit], [Name]) VALUES (1, N' м')
INSERT [dbo].[Unit] ([IdUnit], [Name]) VALUES (2, N' л')
INSERT [dbo].[Unit] ([IdUnit], [Name]) VALUES (3, N' кг')
SET IDENTITY_INSERT [dbo].[Unit] OFF
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK__Materials__Mater__3D5E1FD2] FOREIGN KEY([IdMaterialType])
REFERENCES [dbo].[MaterialType] ([IdMaterialType])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK__Materials__Mater__3D5E1FD2]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK__Materials__UnitO__3E52440B] FOREIGN KEY([IdUnit])
REFERENCES [dbo].[Unit] ([IdUnit])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK__Materials__UnitO__3E52440B]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK__Product__Product__412EB0B6] FOREIGN KEY([ProductTypeId])
REFERENCES [dbo].[ProductType] ([IdProductType])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK__Product__Product__412EB0B6]
GO
ALTER TABLE [dbo].[ProductMaterial]  WITH CHECK ADD  CONSTRAINT [FK__ProductMa__Mater__44FF419A] FOREIGN KEY([IdMaterial])
REFERENCES [dbo].[Material] ([IdMaterial])
GO
ALTER TABLE [dbo].[ProductMaterial] CHECK CONSTRAINT [FK__ProductMa__Mater__44FF419A]
GO
ALTER TABLE [dbo].[ProductMaterial]  WITH CHECK ADD  CONSTRAINT [FK__ProductMa__Produ__44FF419A] FOREIGN KEY([ArticulProduct])
REFERENCES [dbo].[Product] ([Articul])
GO
ALTER TABLE [dbo].[ProductMaterial] CHECK CONSTRAINT [FK__ProductMa__Produ__44FF419A]
GO
